# Dependency directories
node_modules/
/.pnp
.pnp.js

# Build outputs
/build
/dist
/out
/.next
/.nuxt
/.vuepress
/public/build

# Environment configuration files
.env
.env.local
.env.production
.env.*.local

# Docker-related files
docker-compose.override.yml
*.cert
*.key
*.pem
# Docker volumes directory, if managed locally
/volumes/
# PostgreSQL data directory, if using Docker volumes locally
/pgdata/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul, nyc
/coverage
/.nyc_output

# Testing
/.jest

# Caching directories (e.g., Babel cache)
.cache/
/.parcel-cache
/.babel-cache

# Various IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# Temporary files
/tmp
/temp

# Frontend tooling files
/.vite
.vitepress/dist
